*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OSX
.DS_Store
_DS_Store

# compiled Java
target/*
target/
build/
.gradle
datanucleus.log
out
*.iml
*.ipr
*.iws

# various configs
.idea
.settings
.classpath
.project
